@charset "UTF-8";
/* CSS Document */


/*this class will hide elements on out page*/
.hidden
{
	display: none;
}

#container
{
	margin: 0 auto;
	width: 600px;
	height: 700px;
	background: url(../assets/hangmanBckgrd.svg);
	background-repeat: no-repeat;
	background-position: center;
}

h1
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 3px;
	margin: 20px 0;
}

#bckgrd
{
	border: none;
	position: absolute;
}

/*NEW*/
#stickMan
{
	width: 10%;
	margin-left: 132px;
	float: left;
	margin-top: -118px;
}

.cls-1
{
	opacity: 0;
}

.current-word
{
	font-size: 2em;
}

.show-piece
{
	display: block !important;
	opacity: 1 !important;
}

.reset-screen
{
	display: none;
	padding-top: 10%;
	padding-left: 10%;
	opacity: 0;
	position: absolute;;
	top: 0;
	width: 47%;
	height: 80%;
	color: white;
	background-color: rgba(0, 0, 0, 0.9);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 1px;
}

.wrong-letters
{
	text-decoration: line-through;
	display: block;
	margin-top: 10px;
	margin-left: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
}

.wrong-letters-label
{
	display: block;
	margin-top: 250px;
	margin-left: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
}

#userInput
{
	margin-left: 395px;
	margin-top: 50px;
}

.hint-string
{
	margin-left: 395px;
	margin-top: 150px;
}